<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>[TOOLFB.VN] Quản lý TKQC</title>
        <link href="../public/css/sweetalert2.min.css" rel="stylesheet">
        <link href="../public/css/bootstrap.min.css" rel="stylesheet">
        <link href="../public/css/remixicon.css" rel="stylesheet">
        <link href="../public/css/style.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

        <script src="../public/js/jquery.js"></script>
        
    </head>
    <body>


        <style>
            body {
                overflow: hidden;
            }
            #app {
                padding: 40px 10px 10px 10px;
                background-image: linear-gradient(100deg, #1e55d1 0%, #ac8edd 100%);
            }
            .account-wrapper {
                border-radius: 0;
                width: 100%;
                height: calc(100vh - 50px);
            }
            #accounts .ag-ltr .ag-cell {
                padding: 10px;
            }
            #header {
                height: 40px
            }
            .moreCard {
                position: absolute;
                min-width: 100px;
                z-index: 999;
                background: #fff;
                line-height: initial;
            }
            .cardItem:not(:last-child) {
                margin-bottom: 10px;
            }
            .select2-container .select2-selection--single {
                height: 33px;
                border: var(--bs-border-width) solid var(--bs-border-color);
                box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
                border-radius: var(--bs-border-radius);
            }
            .select2-container--default .select2-selection--single .select2-selection__rendered {
                line-height: 33px;
            }
            .select2-container--default .select2-selection--single .select2-selection__arrow {
                top: 4px;
            }
            .select2-container--open .select2-dropdown {
                border: var(--bs-border-width) solid var(--bs-border-color);
                box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
            }
            .select2-container--default .select2-search--dropdown .select2-search__field {
                border: var(--bs-border-width) solid var(--bs-border-color);
                border-radius: var(--bs-border-radius);
            }
            .select2-search--dropdown .select2-search__field {
                border: var(--bs-border-width) solid var(--bs-border-color);
                outline: none;
            }
            .select2-container--default .select2-results__option--selected {
                background-color: transparent;
            }
            .select2-container {
                width: 100%!important;
            }
            #adPanel {
                background: #fff;
                width: 400px;
                margin-left: 10px;
            }
        </style>

        <!-- <div id="loadingScreen" class="d-flex align-items-center justify-content-center">
            <div class="spinner-border text-secondary" role="status"></div>
        </div> -->
        <div id="app">
            <div id="header">
                <div class="header-top d-flex align-items-center justify-content-between">
                    <span class="titleBar fw-medium">[TOOLFB.VN] Quản lý TKQC</span>
                    <div class="titleBarButtons d-flex align-items-center">
                        <button type="button" id="minimize" onclick="minimizeApp()" type="button"><i class="ri-subtract-line"></i></button>
                        <button type="button" id="unmaximize" class="d-none" onclick="unmaximizeApp()" type="button"><i class="ri-file-copy-line"></i></button>
                        <button type="button" id="maximize" onclick="maximizeApp()" type="button"><i class="ri-stop-line"></i></button>
                        <button type="button" id="close" onclick="closeApp()" type="button"><i class="ri-close-line"></i></button>
                    </div>
                </div>
            </div>
            
            <div class="d-flex">
                <div class="account-wrapper bg-white rounded d-flex flex-column overflow-hidden flex-grow-1">
                    <div class="d-flex border-bottom justify-content-between py-3 px-3" style="height: 67px">
                        <div class="d-flex">
                            <div class="d-flex border-end">
                                <button type="button" class="shadow-sm control-btn btn border h-100 me-3" id="start" onclick="run()">
                                    <i class="ri-play-fill" style="background-color: #4caf50;"></i>
                                    Bắt đầu
                                </button>
                                <button type="button" class="shadow-sm control-btn btn border h-100 me-3 d-none" id="stop" onclick="stop()">
                                    <i class="ri-stop-fill" style="background-color: #f44336;"></i>
                                    Dừng lại
                                </button>
                            </div>
                            <div class="d-flex border-end ms-3">
                                <div class="dropdown me-2">
                                    <button class="shadow-sm control-btn btn border h-100 px-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="ri-filter-line fs-5 m-0" style="color: #666"></i>
                                    </button>
                                    <div class="dropdown-menu mt-2 border dropdown-menu-end shadow-sm p-2" style="width: 250px;">
                                        <div class="mb-2">
                                            <strong>Trạng thái</strong>
                                        </div>
                                        <label class="border rounded mb-2 p-2 d-flex align-items-center">
                                            <div class="form-check me-2">
                                                <input class="form-check-input statusFilter" type="checkbox" value="1">
                                            </div>
                                            <span class="d-flex align-items-center flex-grow-1"><span style="width: 7px; height: 7px" class="d-flex bg-success rounded-circle me-2"></span><strong class="text-success">Hoạt động</strong></span>
                                            <span class="badge rounded-pill text-bg-primary status1Count">0</span>
                                        </label>
                                        <label class="border rounded mb-2 p-2 d-flex align-items-center">
                                            <div class="form-check me-2">
                                                <input class="form-check-input statusFilter" type="checkbox" value="2">
                                            </div>
                                            <span class="d-flex align-items-center flex-grow-1"><span style="width: 7px; height: 7px" class="d-flex bg-danger rounded-circle me-2"></span><strong class="text-danger">Vô hiệu hóa</strong></span>
                                            <span class="badge rounded-pill text-bg-primary status2Count">0</span>
                                        </label>
                                        <label class="border rounded mb-2 mb-2 p-2 d-flex align-items-center">
                                            <div class="form-check me-2">
                                                <input class="form-check-input statusFilter" type="checkbox" value="3">
                                            </div>
                                            <span class="d-flex align-items-center flex-grow-1"><span style="width: 7px; height: 7px" class="d-flex bg-warning rounded-circle me-2"></span><strong class="text-warning">Cần thanh toán</strong></span>
                                            <span class="badge rounded-pill text-bg-primary status3Count">0</span>
                                        </label>
                                        <label class="border rounded mb-2 mb-2 p-2 d-flex align-items-center">
                                            <div class="form-check me-2">
                                                <input class="form-check-input statusFilter" type="checkbox" value="101">
                                            </div>
                                            <span class="d-flex align-items-center flex-grow-1"><span style="width: 7px; height: 7px" class="d-flex bg-info rounded-circle me-2"></span><strong class="text-info">Đóng</strong></span>
                                            <span class="badge rounded-pill text-bg-primary status101Count">0</span>
                                        </label>
                                        <label class="border rounded mb-2 mb-2 p-2 d-flex align-items-center">
                                            <div class="form-check me-2">
                                                <input class="form-check-input statusFilter" type="checkbox" value="999">
                                            </div>
                                            <span class="d-flex align-items-center flex-grow-1"><span style="width: 7px; height: 7px" class="d-flex bg-secondary rounded-circle me-2"></span><strong class="text-secondary">Hold</strong></span>
                                            <span class="badge rounded-pill text-bg-primary status999Count">0</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="me-3 h-100" style="width: 200px;">
                                    <select id="accountSelect" class="form-select">
                                        <option value="0">Tất cả tài khoản</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="flex-grow-1 px-3">
                            <div class="position-relative h-100">
                                <a href="javascript:;" id="searchSubmit" class="text-dark"><i class="ri-search-line fs-5 position-absolute" style="top: 3px; right: 8px"></i></a>
                                <input class="form-control h-100 fw-medium" style="padding-right: 30px;" id="search" placeholder="Nhập từ khóa...">
                            </div>
                        </div>
                        <div class="d-flex --border-end">
                            <button type="button" class="shadow-sm control-btn me-2 btn border px-2 h-100" onclick="run('refresh')">
                                <i class="ri-loop-left-line fs-5 m-0" style="color: #666"></i>
                            </button>
                            <button type="button" class="shadow-sm control-btn me-2 btn border px-2 h-100" data-bs-toggle="modal" data-bs-target="#customizeModal">
                                <i class="ri-layout-line fs-5 m-0" style="color: #666"></i>
                            </button>
                            <button type="button" class="shadow-sm control-btn btn border px-2 h-100" data-bs-toggle="modal" data-bs-target="#customizeModal">
                                <i class="ri-equalizer-line fs-5 m-0" style="color: #666"></i>
                            </button>
                        </div>
                    </div>

                    <div id="accounts" class="ag-theme-balham flex-grow-1 h-100"></div>

                    <div class="border-top p-3 py-2 d-flex justify-content-between align-items-center" style="height: 45px;">
                        <div class="d-flex align-items-center">
                            <span class="border-end me-2 pe-2">
                                <strong>Tổng: </strong>
                                <span id="tong">0</span>
                            </span>
                            <span class="border-end me-2 pe-2">
                                <strong>Đã chọn:</strong> 
                                <span id="dachon">0</span>
                            </span>
                            <span>
                                <strong>Bôi đen:</strong> 
                                <span id="boiden">0</span>
                            </span>
                        </div>
                        <div>
                            <span class="border-end me-2 pe-2">
                                <strong class="text-success">Hoạt động:</strong> 
                                <span class="status1Count">0</span>
                            </span>
                            <span class="border-end me-2 pe-2">
                                <strong class="text-danger">Vô hiệu hóa:</strong> 
                                <span class="status2Count">0</span>
                            </span>
                            <span class="border-end me-2 pe-2">
                                <strong class="text-warning">Cần thanh toán:</strong> 
                                <span class="status3Count">0</span>
                            </span>
                            <span class="border-end me-2 pe-2">
                                <strong class="text-secondary">Đóng:</strong> 
                                <span class="status101Count">0</span>
                            </span>
                            <span>
                                <strong class="text-info">Hold:</strong> 
                                <span class="status999Count">0</span>
                            </span>
                        </div>
                        <!-- <div class="d-flex align-items-center">
                            <div class="d-flex align-items-center">
                                <div class="pe-3">
                                    <span id="lastSync" class="fw-medium"></span>
                                </div>
                                <button class="shadow-sm btn border me-2 pe-3 h-100 d-flex align-items-center" onclick="openLink('https://t.me/+lqVNxKOd_nRkOTM1')">
                                    <i class="ri-alert-line me-2 fs-6"></i> <strong>Báo lỗi</strong>
                                </button>
                                <button class="shadow-sm btn border h-100 d-flex align-items-center">
                                    <strong>Checkpoint </strong><span class="badge text-bg-danger ms-2" id="cpCount">0</span>
                                </button>
                            </div>
                            <div class="d-flex align-items-center" id="thoihan"></div>
                        </div> -->
                    </div>
                </div>
                <div id="adPanel" class="rounded border-start p-1" data-tool="ad">

                    <div class="overflow-auto p-2" style="height: calc(100vh - 57px);">

                        <div class="card shadow-sm border-light-subtle mb-3 p-0">

                            <div class="p-3">
                                <div class="form-check form-switch mb-0 ps-0 form-switch-md justify-content-between d-flex align-items-center">
                                    <label class="form-check-label fw-medium d-flex align-items-center">
                                        <i class="ri-bank-card-line fs-5 me-2"></i><span class="fw-bold">Add Thẻ</span>
                                    </label>
                                    <input class="form-check-input" data-target="addCardSetting" name="addCard" type="checkbox" role="switch">
                                </div>
                            </div>

                            <div id="addCardSetting" class="p-3 d-none border-top">
                                <div class="row mb-3">
                                    <div class="col-6">
                                        <select class="form-select" name="addCardMode">
                                            <option value="1">Chế độ 1</option>
                                            <option value="2">Chế độ 2</option>
                                            <option value="3">Chế độ 3</option>
                                            <option value="4">Chế độ 4</option>
                                            <option value="5">Chế độ 5</option>
                                        </select>
                                    </div>
                                    <div class="col-6">
                                        <button type="button" class="control-btn btn border p-1 w-100" data-bs-toggle="modal" data-bs-target="#cardModal">
                                            <i class="ri-bank-card-line fs-5 me-2" style="color: #666;"></i>
                                            Quản lý thẻ
                                        </button>
                                    </div>
                                </div>  
                                <div class="row">
                                    <div class="col-6">
                                        <label class="form-label fw-medium">
                                            Max
                                        </label>
                                        <input type="number" class="form-control" value="10" name="maxCard">
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label fw-medium">
                                            Delay
                                        </label>
                                        <input type="number" class="form-control" value="3000" name="cardDelay">
                                    </div>
                                </div>
                                                        
                            </div>
                        </div>

                        <div class="card shadow-sm border-light-subtle mb-3 p-0">

                            <div class="p-3">
                                <div class="form-check form-switch mb-0 ps-0 form-switch-md justify-content-between d-flex align-items-center">
                                    <label class="form-check-label fw-medium d-flex align-items-center">
                                        <i class="ri-edit-line fs-5 me-2"></i><span class="fw-bold">Đổi tên</span>
                                    </label>
                                    <input class="form-check-input" data-target="renameSetting" name="rename" type="checkbox" role="switch">
                                </div>
                            </div>

                            <div id="renameSetting" class="p-3 d-none border-top">
                                <label class="form-label fw-medium">
                                    Tên mới
                                </label>
                                <input type="text" class="form-control" value="Toolfb.vn" name="newName">
                            </div>
                        </div>

                        <div class="card shadow-sm border-light-subtle mb-3 p-0">

                            <div class="p-3">
                                <div class="form-check form-switch mb-0 ps-0 form-switch-md justify-content-between d-flex align-items-center">
                                    <label class="form-check-label fw-medium d-flex align-items-center">
                                        <i class="ri-information-line fs-5 me-2"></i><span class="fw-bold">Đổi thông tin</span>
                                    </label>
                                    <input class="form-check-input" data-target="changeInfoSetting" name="changeInfo" type="checkbox" role="switch">
                                </div>
                            </div>

                            <div id="changeInfoSetting" class="p-3 d-none border-top">
                                <div class="mb-3">
                                    <label class="form-label fw-medium mb-2 d-block">
                                        Tiền tệ
                                    </label>
                                    <select class="form-select" name="currency"></select>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label fw-medium mb-2 d-block">
                                        Timezone
                                    </label>
                                    <select class="form-select" name="timezone"></select>
                                </div>
                                <div class="">
                                    <label class="form-label fw-medium mb-2 d-block">
                                        Quốc gia
                                    </label>
                                    <select class="form-select" name="country"></select>
                                </div>  
                            </div>
                        </div>

                        <div class="card shadow-sm border-light-subtle mb-3 p-0">

                            <div class="p-3">
                                <div class="form-check form-switch mb-0 ps-0 form-switch-md justify-content-between d-flex align-items-center">
                                    <label class="form-check-label fw-medium d-flex align-items-center">
                                        <i class="ri-spy-line fs-5 me-2"></i><span class="fw-bold">Xóa admin</span>
                                    </label>
                                    <input class="form-check-input" data-target="removeAdminSetting" name="removeAdmin" type="checkbox" role="switch">
                                </div>
                            </div>

                            <div id="removeAdminSetting" class="p-3 d-none border-top">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="removeHidden" id="removeHidden">
                                            <label class="form-check-label" for="removeHidden">
                                                Xóa admin ẩn
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="removeAll" id="removeAll">
                                            <label class="form-check-label" for="removeAll">
                                                Xóa tất cả trừ bạn
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>

                        <div class="card shadow-sm border-light-subtle mb-3 p-0">

                            <div class="p-3">
                                <div class="form-check form-switch mb-0 ps-0 form-switch-md justify-content-between d-flex align-items-center">
                                    <label class="form-check-label fw-medium d-flex align-items-center">
                                        <i class="ri-megaphone-line fs-5 me-2"></i><span class="fw-bold">Lên camp</span>
                                    </label>
                                    <input class="form-check-input" data-target="lenCampSetting" name="lenCamp" type="checkbox" role="switch">
                                </div>
                            </div>

                            <div id="lenCampSetting" class="p-3 d-none border-top">
                                <label class="form-label fw-medium">
                                    File camp
                                </label>
                                <div class="d-flex">
                                    <input type="text" class="form-control" name="fileCamp" disabled>
                                    <div class="ps-2">
                                        <label for="campSelect" class="d-block shadow-sm control-btn btn border text-center" style="padding: .375rem .75rem">Chọn</label>
                                        <input id="campSelect" type="file" style="width: 0; height: 0; position: absolute;" accept=".csv">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="modal fade" id="customizeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content shadow-lg">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">Tùy chỉnh cột</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body p-0">
                        <div id="colCustomize" class="overflow-y-auto p-3" style="max-height: 350px;">

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" onclick="resetColumns()" class="btn btn-secondary">Mặc định</button>
                        <button type="button" onclick="saveColumns()" class="btn btn-primary">Lưu</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="cardModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5 d-flex align-items-center">
                            Danh sách thẻ
                            <span class="ms-2 badge text-bg-success" id="cardCount">0</span>
                        </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body p-0">
                        <div id="cards" class="ag-theme-balham" style="height: 350px"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-bs-dismiss="modal" aria-label="Close">Đóng</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="contextMenuCard">
            <ul class="dropdown-menu d-block shadow-sm">
                <li>
                    <a class="dropdown-item" href="javascript:;" onclick="pasteCard()">
                        <i class="ri-clipboard-line me-2"></i>
                        Paste
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="javascript:;" onclick="deleteCard()">
                        <i class="ri-delete-bin-line me-2"></i>
                        Xóa
                    </a>
                </li>
            </ul>
        </div>

        <!--script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script-->
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <script src="../public/js/sortable.min.js"></script>
        <script src="../public/js/sweetalert2.all.min.js"></script>
        <script src="../public/js/ag-grid-enterprise.min.js"></script>
        <script src="../public/js/bootstrap.bundle.min.js"></script>
        <script src="../public/js/contextmenu.js"></script>
        <script src="../public/lang/vi.js"></script>
        <script src="../public/js/adCheck.js"></script>
        <script src="../public/js/core.js"></script>
    </body>
</html>