<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Tạo phôi kháng - TOOLFB.VN</title>
        <link href="../public/css/bootstrap.min.css" rel="stylesheet">
        <link href="../public/css/remixicon.css" rel="stylesheet">
        <link href="../public/css/jquery-ui.min.css"rel="stylesheet">

        <script src="../public/js/jquery.js"></script>
        <script src="../public/js/jquery-ui.min.js"></script>
    </head>
    <body>

        <style>
            @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');

            body {
                font-family: 'Noto Sans', sans-serif;
                -webkit-user-select: none;
                -ms-user-select: none;
                user-select: none; 
                font-size: 14px;
            }

            ::-webkit-scrollbar {
                width: 8px;
                height: 8px;
                padding: 10px;
            }

            ::-webkit-scrollbar-track-piece {
                background: #fff;
            }

            ::-webkit-scrollbar-thumb {
                background: #c2c2c2;
                border-radius: 5px;
            }
            
            .wrapper {
                overflow: auto;
                width: 100vw;
                height: calc(100vh - 120px);
                background-color: #e9f2fd;
                padding: 30px;
            }

            .phoi-elm {
                cursor: grab;
                font-size: 14px;
                font-weight: 600;
            }

            #card {
                position: relative;
                display: inline-block;
            }

            .elm {
                position: absolute;
            }

            .elm.active {
                outline: 2px dashed #0d6efd;
                outline-offset: 2px;
            }

            .panel {
                width: 100%;
                height: 120px;
                background-color: #fff;
            }

            [data-type] {
                cursor: grab;
            }

            [data-type="image"] img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            [data-type="seal"] img {
                width: 100%;
                height: 100%;
            }

            .ui-resizable-n, .ui-resizable-s {
                left: 50%;
                transform: translateX(-50%);
            }
            .ui-resizable-e, .ui-resizable-w {
                top: 50%;
                transform: translateY(-50%);
            }

            .ui-resizable-sw {
                left: -10px;
                bottom: -10px;
            }

            .ui-resizable-se {
                right: -10px;
                bottom: -10px;
                background-image: none!important;
            }

            .ui-resizable-ne {
                top: -10px;
                right: -10px
            }

            .ui-resizable-n {
                top: -10px;
            }

            .ui-resizable-w {
                left: -10px;
            }

            .ui-resizable-e {
                right: -10px;
            }

            .ui-resizable-s {
                bottom: -10px;
            }

            .ui-resizable-nw {
                top: -10px;
                left: -10px;
            }

            .ui-resizable-handle {
                background-color: #0d6efd;
                border-radius: 100%;
                display: none!important;
                width: 15px;
                height: 15px;
            }

            .elm.active .ui-resizable-handle {
                display: block!important;
            }

            #loadImage, #loadSeal {
                width: 0;
                height: 0;
                overflow: hidden;
            }

            label[for="loadImage"] {
                cursor: pointer;
            }
            
        </style>

        <div class="panel shadow p-3 d-flex border-bottom">
            <div class="d-flex">
                <input type="file" id="loadImage" accept="image/*">
                <input type="file" id="loadSeal" accept="image/*">
                <label for="loadImage" class="border bg-white rounded p-1 px-4 me-2 d-flex flex-column align-items-center justify-content-center">
                    <i class="ri-image-add-fill fs-5"></i>
                    <strong>Load</strong>
                </label>
                <button id="save" class="border bg-white rounded p-1 px-4 me-2 d-flex flex-column align-items-center justify-content-center">
                    <i class="ri-save-3-fill fs-5"></i>
                    <strong>Save</strong>
                </button>
                <button id="test" class="border bg-white rounded p-1 px-4 me-2 d-flex flex-column align-items-center justify-content-center">
                    <i class="ri-eye-fill fs-5"></i>
                    <strong>Test</strong>
                </button>
            </div>
            <div class="border rounded p-2">
                <!-- <label style="font-size: 13px; font-weight: 600;" class="mb-2 d-block">Kéo thả vào ảnh</label> -->
                <div class="d-inline-flex flex-wrap pe-2">
                    <div class="phoi-elm me-2 mb-2" data-type="firstName" draggable="true" ondragstart="drag(event)">
                        <div class="border text-center bg-white py-1 px-3 rounded">First Name</div>
                    </div>

                    <div class="phoi-elm me-2 mb-2" data-type="lastName" draggable="true" ondragstart="drag(event)">
                        <div class="border text-center bg-white py-1 px-3 rounded">Last Name</div>
                    </div>
                
                    <div class="phoi-elm me-2 mb-2" data-type="fullName" draggable="true" ondragstart="drag(event)">
                        <div class="border text-center bg-white py-1 px-3 rounded">Full Name</div>
                    </div>
            
                    <div class="phoi-elm me-2 mb-2" data-type="gender" draggable="true" ondragstart="drag(event)">
                        <div class="border text-center bg-white py-1 px-3 rounded">Gender</div>
                    </div>
                
                    <div class="phoi-elm me-2 mb-2" data-type="birthday" draggable="true" ondragstart="drag(event)">
                        <div class="border text-center bg-white py-1 px-3 rounded">Birthday</div>
                    </div>
                
                    <div class="phoi-elm me-2 mb-2" data-type="image" draggable="true" ondragstart="drag(event)">
                        <div class="border text-center bg-white py-1 px-3 rounded">Avatar</div>
                    </div>

                    <div class="phoi-elm me-2 mb-2" data-type="seal" draggable="true" ondragstart="drag(event)">
                        <div class="border text-center bg-white py-1 px-3 rounded">Con dấu</div>
                    </div>

                    <div class="phoi-elm me-2" data-type="random" draggable="true" ondragstart="drag(event)">
                        <div class="border text-center bg-white py-1 px-3 rounded">Random</div>
                    </div>

                </div>
            </div>
            <div class="ms-3 border rounded p-2 d-flex me-3">
                <div class="me-3">
                    <label style="width: 50px; font-size: 13px; font-weight: 600;" class="mb-2">Size</label>
                    <input style="width: 60px; font-size: 14px;" type="number" name="fontSize" class="form-control p-1" min="0">
                </div>
                <div class="me-3">
                    <label style="width: 50px; font-size: 13px; font-weight: 600;" class="mb-2">Font</label>
                    <select style="width: 150px; font-size: 14px;" name="fontFamily" class="form-select p-1"> 
                    </select>
                </div>
                <div class="me-3">
                    <label style="width: 50px; font-size: 13px; font-weight: 600;" class="mb-2">Style</label><br>
                    <button class="btn bg-white border p-1 py-0" id="textBold">
                        <i class="ri-bold"></i>
                    </button>
                </div>
                <div class="">
                    <label style="width: 50px; font-size: 13px; font-weight: 600;" class="mb-2">Color</label>
                    <input style="width: 60px; font-size: 14px;" type="color" name="fontColor" class="form-control">
                </div>
            </div>
        </div>

        <div class="wrapper">
            <div id="card" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        </div>

        <script src="../public/js/bootstrap.bundle.min.js"></script>
        <script src="../public/js/sweetalert2.all.min.js"></script>
        <script src="../public/js/panzoom.js"></script>
        <script src="../public/lang/vi.js"></script>

        <script>

            $(document).ready(async function() {
                const fonts = await window.api.get('getFonts')

                let options = '<option></option>'

                fonts.forEach(font => {
                    options += '<option value="'+font+'">'+font+'</option>'
                })

                $('select[name="fontFamily"]').html(options)
            })

            function allowDrop(e) {
                e.preventDefault()
            }

            function drag(e) {
                e.dataTransfer.setData('type', e.target.dataset.type)
                e.dataTransfer.setData('text', e.target.innerText)
            }

            function drop(e) {

                e.preventDefault()

                const type = e.dataTransfer.getData('type')
                const text = e.dataTransfer.getData('text')
                
                const x = e.offsetX
                const y = e.offsetY

                $('.elm').removeClass('active')

                if (type == 'image') {

                    $('#card').append(`<div class="elm active" data-type="image" style="top:${y}px;left:${x}px"><img src="../public/img/avatar.jpg"></div>`)

                } else if (type == 'seal') {


                    $('#loadSeal').click()

                    $('#card').append(`<div class="elm active" data-type="seal" style="top:${y}px;left:${x}px"><img src=""></div>`)

                } else {

                    $('#card').append(`<div class="elm active" data-type="${type}" style="top:${y}px;left:${x}px;font-size:16px;color:#000000;font-family: 'Arial'">${text}</div>`)

                }

                getTextStyle()

                $('.elm[data-type="image"]').resizable({ handles: 'all' })

                $('.elm').draggable({
                    containment:'#card',
                    start: function(e, u) {
                        $('.elm').removeClass('active')
                        $(u.helper[0]).addClass('active')
                    }
                })

            }

            function hex(x) {
                return ("0" + parseInt(x).toString(16)).slice(-2);
            }

            function rgb2hex(rgb) {
                rgb = rgb.match(/^rgba?\((\d+),\s*(\d+),\s*(\d+)(,\s*\d+\.*\d+)?\)$/)
                return "#" + hex(rgb[1]) + hex(rgb[2]) + hex(rgb[3])
            }

            function getTextStyle() {

                const type = $('.elm.active').attr('data-type')

                if (type !== 'image' && type !== 'seal') {
                    const size = $('.elm.active').css('font-size').replace('px', '')
                    const color = rgb2hex($('.elm.active').css('color'))
                    const font = $('.elm.active').css('font-family')
                    const style = $('.elm.active').css('font-weight')

                    $('input[name="fontColor"]').val(color)
                    $('input[name="fontSize"]').val(size)

                    if (style == '700') {
                        $('#textBold').addClass('bg-body-secondary')
                    } else {
                        $('#textBold').removeClass('bg-body-secondary')
                    }

                    $('select[name="fontFamily"] option[value='+font+']').prop('selected', true)

                }

            }

            function getFormattedTime() {
                const today = new Date()
                const y = today.getFullYear()
                const m = today.getMonth() + 1
                const d = today.getDate()
                const h = today.getHours()
                const mi = today.getMinutes()
                const s = today.getSeconds()
                return y + "-" + m + "-" + d + "-" + h + "-" + mi + "-" + s
            }

            function getBase64(file) {
                return new Promise((resolve, reject) => {
                    const reader = new FileReader()
                    reader.readAsDataURL(file)
                    reader.onload = () => resolve(reader.result)
                    reader.onerror = error => reject(error)
                })
            }

            function getData() {

                if ($('#card > img').length > 0) {

                    const data = {}

                    data.src = $('#card > img').attr('src')

                    data.data = []

                    $('.elm').each(function(index) {

                        const type = $(this).attr('data-type')

                        data.data[index] = {}
                        data.data[index].type = type

                        data.data[index].top = parseInt($(this).css('top').replace('px', ''))
                        data.data[index].left = parseInt($(this).css('left').replace('px', ''))

                        if (type === 'seal') {
                            data.data[index].src = $(this).find('img').attr('src')
                        }

                        if (type === 'image' || type === 'seal') {
                            data.data[index].width = parseInt($(this).css('width').replace('px', ''))
                            data.data[index].height = parseInt($(this).css('height').replace('px', ''))
                        } else {
                            data.data[index].width = $(this).width()
                            data.data[index].height = $(this).height()
                            data.data[index].size = parseInt($(this).css('font-size').replace('px', ''))
                            data.data[index].color = rgb2hex($(this).css('color'))
                            data.data[index].family = $(this).css('font-family')
                            data.data[index].style = $(this).css('font-weight')
                        }
                        
                    })

                    return data
                }
            }

            $(document).on('click', '#test', async function() {

                const data = getData()

                if (data) {
                    window.api.send('viewPhoi', {data})
                }

            })

            $(document).on('click', '#save', async function() {

                const data = getData()
                const file = $('#save').attr('data-file')

                if (data) {

                    let inputValue = ''

                    if (file) {
                        inputValue = $('#save').attr('data-name')
                    }

                    Swal.fire({
                        title: 'Nhập tên phôi',
                        input: 'text',
                        showCancelButton: true,
                        confirmButtonColor: '#0d6efd',
                        confirmButtonText: 'Lưu',
                        cancelButtonText: 'Hủy',
                        inputValue,
                        inputValidator: (value) => {

                            if (value.length) {
                                
                                data.name = value 

                                if (file) {
                                    window.api.send('saveOldPhoi', {data, file})
                                } else {
                                    window.api.send('savePhoi', data)
                                }

                                Swal.fire({
                                    icon: 'success',
                                    title: 'Thành công!',
                                    text: 'Đã lưu phôi',
                                    confirmButtonColor: '#0d6efd'
                                })

                            } else {
                                return 'Tên không thể để trống'
                            }

                        }
                    })

                }
            })

            $(document).on('change', '#loadSeal', async function() {
                const base64 = await getBase64(this.files[0])

                $('.elm[data-type="seal"] img').attr('src', base64)

                $('.elm[data-type="seal"]').resizable({ handles: 'all' })
            })

            $(document).on('change', '#loadImage', async function() {
                const base64 = await getBase64(this.files[0])

                $('#save').removeAttr('data-file')
                $('#card').html('<img draggable="false" src="'+base64+'">')
            })

            $(document).on('change', 'input[name="fontSize"]', function() {
                $('.elm.active').css('font-size', $(this).val()+'px')
            })

            $(document).on('change', 'select[name="fontFamily"]', function() {

                const font = $(this).find(':selected').val()

                $('.elm.active').css('font-family', font)
            })

            $(document).on('click', '#textBold', function() {

                if ($('.elm.active').length) {
                    if ($(this).hasClass('bg-body-secondary')) {
                        $(this).removeClass('bg-body-secondary')
                        $('.elm.active').css('font-weight', '')
                    } else {
                        $(this).addClass('bg-body-secondary')
                        $('.elm.active').css('font-weight', '700')
                    }
                }

            })

            $(document).on('input', 'input[name="fontColor"]', function() {
                $('.elm.active').css('color', $(this).val())
            })

            $(document).on('keydown', function(e) {

                const left = $('.elm.active').css('left') ? parseInt($('.elm.active').css('left').replace('px', '')) : 0
                const top = $('.elm.active').css('left') ? parseInt($('.elm.active').css('top').replace('px', '')) : 0

                switch(e.which) {
                    case 37:
                        $('.elm.active').css('left', (left-1)+'px')
                    break;

                    case 38:
                        $('.elm.active').css('top', (top-1)+'px')
                    break;

                    case 39:
                        $('.elm.active').css('left', (left+1)+'px')
                    break;

                    case 40:
                        $('.elm.active').css('top', (top+1)+'px')
                    break;
                    case 46: 
                        $('.elm.active').remove()
                    break;

                    default: return;
                }

                e.preventDefault()
            })

            $(document).on('click', '.elm', function() {

                $('.elm').removeClass('active')

                setTimeout(() => {
                    $(this).addClass('active')
                    getTextStyle()
                }, 100)
                
            })

            $(document).on('contextmenu', '.elm.active', function() {
                $(this).remove()
            })

            $(document).on('click', '.wrapper', function(event) {
                if (!$(event.target).hasClass('elm')) {
                    $('.elm').removeClass('active')
                    $('input[name="fontSize"]').val('')
                    $('input[name="fontColor"]').val('')
                    $('#textBold').removeClass('bg-body-secondary')
                    $('select[name="fontFamily"] option').prop('selected', false)
                }
            })

            window.api.receive('loadFile', (data) => {
                $('#save').attr('data-file', data)
            })

            window.api.receive('loadPhoi', (data) => {

                if (data.src) {

                    $('#save').attr('data-name', data.name)

                    $('#card').html('<img draggable="false" src="'+data.src+'">')

                    data.data.forEach(item => {

                        let color = ''
                        let style = ''
                        let size = ''
                        let family = ''
                        let content = ''
                        let width = ''
                        let height = ''

                        if (item.type !== 'image') {

                            if (item.color) {
                                color = 'color: '+item.color+';'
                            }

                            if (item.style) {
                                style = 'font-weight: '+item.style+';'
                            }

                            if (item.size) {
                                size = 'font-size: '+item.size+'px;'
                            }

                            if (item.src) {
                                content = '<img src="'+item.src+'">'
                                width = 'width: '+item.width+'px;'
                                height = 'height: '+item.height+'px;'
                            } else {
                                content = $('.phoi-elm[data-type="'+item.type+'"]').text()
                            }

                            if (item.family) {
                                family = 'font-family: '+item.family.replaceAll('"', '').replaceAll('\\', '')+';'
                            }

                        } else {
                            content = '<img src="../public/img/avatar.jpg">'
                            width = 'width: '+item.width+'px;'
                            height = 'height: '+item.height+'px;'
                        }

                        $('#card').append(`
                            <div class="elm" data-type="${item.type}" style="
                                top: ${item.top}px;
                                left: ${item.left}px;
                                ${color}
                                ${family}
                                ${style}
                                ${size}
                                ${width}
                                ${height}
                            ">${content}</div>
                        `)
                    })

                    $('.elm[data-type="image"]').resizable({ handles: 'all' })
                    $('.elm[data-type="seal"]').resizable({ handles: 'all' })

                    $('.elm').draggable({
                        containment:'#card',
                        start: function(e, u) {
                            $('.elm').removeClass('active')
                            $(u.helper[0]).addClass('active')
                        }
                    })

                }

            })

        </script>

    </body>
</html>